#login_fond {
	height: 1100px;
	width: 100%;
	position: relative;
	background-color: rgb(34, 120, 220);
}
/*
#login_fond {
filter: blur(5rem);
    background-image: 
}
    */
#login_block {
	position: absolute;
	height: 60%;
	width: 60%;
	margin: 5% 10%;
	background-color: rgba(250, 250, 250, 0.9);
	border-radius: 5rem;
	display: flex;
	flex-flow: column nowrap;
	padding: 10%;
}
