nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0 20px;
}

body {
	padding: 0;
	margin: 0;
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0 20px;
}
